.topnav {
    background-color: #264653;
    overflow: hidden;
    max-height: fit-content;
  }


.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

#box-test {
    position: relative;
    padding: 10%;
    height: 300px;
    width: 170px;
    border: 4px solid black;
    text-align: center;

}