#box-one {
    background-color: yellowgreen;
    padding: 20px;
    height: 350px;
}

#grid-box-one {
    background-color: darksalmon;
    margin-left: 10%;
    margin-top: 5%;
    width: 15%;

}

#nav-tab {
    background-color: rgb(55, 63, 71);
    height: 150px;
    
}

.topbar {
    background-color: rgb(55, 63, 71);
    overflow: hidden;
    height: 10%;
    
}

.topbar a {
    float: left;
    color: antiquewhite;
    text-align: center;
    padding: 20px;
    font-size: 17px;
}

